#top_container{
	line-height:50px;
	background:#009688;
	border-bottom:2px solid #aaa;
	margin-bottom:60px;
	height:50px;
}
#logo{
	display:inline-block;
	width:32px;
	height:32px;
}
#top_left{
	float:left;
	margin-left:1em;
	font-size:1.3em;
	color:#fff;
	font-weight: bold;
}
#top_left a{
	color:#fff;
}
#top_right{
	float:right;
	margin-right:50px;
}