<#macro common>
	<script>
		var basePath="${basePath}";
	</script> 	 
</#macro>
<#macro jquery_1_8_3>
	<script type="text/javascript" src="${basePath}/Thirdparty/jquery-1.8.3.min.js"></script>
</#macro>
<#macro layui>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/layui/css/layui.css" />
	<script type="text/javascript" src="${basePath}/Thirdparty/layui/layui.js"></script>
</#macro>
<#macro icon>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/font-awesome-4.7.0/css/font-awesome.min.css" />
</#macro>
<#macro ztree3>
	<script type="text/javascript" src="${basePath}/Thirdparty/zTree_v3-master/js/jquery.ztree.all.js"></script>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/zTree_v3-master/css/metroStyle/metroStyle.css" />
</#macro>
<#macro bootstrap_css>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/bootstrap-3.3.0/css/bootstrap.min.css" />
</#macro>
<#macro bootstrap_js>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/bootstrap-3.3.0/js/bootstrap.min.js" />
</#macro>
<#macro iconpicker>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css" />
	<script type="text/javascript" src="${basePath}/Thirdparty/bootstrap-iconpicker/js/iconset/iconset-all.min.js"></script>
	<script type="text/javascript" src="${basePath}/Thirdparty/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js"></script>
</#macro>
<#macro flat_ui>
	<link rel="stylesheet" type="text/css" href="${basePath}/Thirdparty/flat-ui/css/flat-ui.min.css" />
	<script type="text/javascript" src="${basePath}/Thirdparty/flat-ui/js/flat-ui.min.js"></script>
</#macro>
<#macro jquery_validation>
	<script type="text/javascript" src="${basePath}/Thirdparty/jquery-validation-1.14.0/dist/jquery.validate.js"></script>
</#macro>
<#macro copyright>
	<p>Copyright (C) 2017 LiangXiao. All rights reserved. 
	<br>Email: liangxiaoyihao@163.com</p> 
</#macro>